/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.featuredBadge {
     padding: 0.4em 6px;
     margin-right: 4px;
     font-size: 0.6em;
     color: white;
     text-transform: uppercase;
     background-color: lightblue;
     vertical-align: middle;
     position: relative;
     top: -0.1em;
 }

.pagination a {
    color: #4A4A4A;
    border: 0; 
    outline: 0;
}

.pagination {
    text-align: center;
    margin: 20px
}
.pagination a, .pagination strong {
    background: #fff;
    display: inline-block;
    margin-right: 3px;
    padding: 4px 12px;
    text-decoration: none;
	line-height: 1.5em;
	
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.pagination a:hover {
    background-color: #BEBEBE;
    color: #fff;
}
.pagination a:active {
	background: rgba(190, 190, 190, 0.75);
}
.pagination strong {
    color: #fff;
    background-color: #BEBEBE;
}

.contests {
    width : 100%;
    list-style-type: none !important;
    margin: 0 !important;
}

.contests li {
    margin: 0;
    padding: 2px 5px;
    border-bottom: 1px solid #afafaf;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    list-style-type: none !important;
}

.contests li:hover {
    background-color: #FAFAD2;
}

.favouriteImage {
    background-color: transparent !important;
    border: 0 !important;
}

.favoritesButton {
    float : right;
}

.flags {
    float: right;
}

.flag-icon {
    vertical-align: top;
    margin-top: 6px;
}

.contestLink {
    float: right;
    text-decoration: none;
}

.contestLink a {
    text-decoration: none;
}

.endDate,
.minimumAge {
    color: #919191;
    width: 49%;
    display: inline-block;
}

.minimumAge {
    text-align: right;
}

#sortForm {
    float : left;
}

.categories {
    color: #919191;
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid #e8e8e8;
    padding: 2px 5px;
}

.contests h2 {
    margin: 0 0 5px 0;
}

.gg-contest-form .half-width {
    width: 49%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.gg-contest-form div input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    height: 2.5em;
}

.notificationBox {
    box-sizing: border-box;
    padding: 5px 20px;
    border: 1px solid transparent;
}

.notificationBox.positive {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.notificationBox.negative {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
