/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .featuredBadge {
     padding: 0.4em 6px;
     font-size: 0.6em;
     color: white;
     text-transform: uppercase;
     background-color: lightblue;
     vertical-align: middle;
     position: relative;
     top: -0.1em;
     cursor: pointer;
 }

 .featuredBadge:hover {
     text-decoration: line-through;
     background-color: lightgrey;
 }

 .fakeFeaturedBadge {
     padding: 0.4em 6px;
     font-size: 0.6em;
     color: transparent;
     text-transform: uppercase;
     background-color: transparent;
     vertical-align: middle;
     position: relative;
     top: -0.1em;
     border: 1px dashed lightblue;
     cursor: pointer;
 }

 a {
     text-decoration: none;
 }

.fakeFeaturedBadge:hover {
    color: white;
    background-color: lightblue;
    border-color: transparent;
 }

.icon,
.icon-background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
.icon {
    position: relative;
    display: inline-block;
    width: 1em;
    line-height: 1em;
    height: 1em;
    cursor: pointer;
}
.flag-icon:before {
    content: "\00a0"
}
.icon-plus {
    background-image: url(../images/plus.svg)
}
.icon-minus {
    background-image: url(../images/minus.svg)
}

.column.categoryName {
    width : 75%;
}

.column.categoryContestCount {
    width : 15%;
    text-align: center;
}

.column.categoryActions {
    width : 10%;
    text-align: center;
}

.categoryAdminTable {
    width : 50%;
}

.adminContestTable {
    width : 100%;
    box-sizing: border-box;
    padding : 10px;
}

.categoryAdminTable td,
.adminContestTable td {
    padding : 2px 5px;
}

.categoryAdminTable tr:nth-child(even), .adminContestTable .contestRow:nth-of-type(4n+3), .adminContestTable .contestRow:nth-of-type(4n+4) {background: #E5E5E5}
.categoryAdminTable tr:nth-child(odd), .adminContestTable .contestRow:nth-of-type(4n+1), .adminContestTable .contestRow:nth-of-type(4n+2) {background: #D8D8D8}

.categoryAdminTable th,
.adminContestTable th {
    background : #242424;
    color : white;
}

.centered {
    text-align: center;
}

.feedback {
    width: 100%;
    padding: 10px 15px;
}

.feedback.confirm {
    color: #53aa63;
    background-color: #def4e4;
}

.feedback.negative {
    color: #555555;
    background-color: #eddee1;
}